/* Guilhem Mizrahi 11/2019 */

/* *{
  border: solid 1px;
} */

html{
  background-color: #73d2de;
}

body{
  background-color: #eaf8fa;
  padding:10px;
  margin:5% auto;
  /* border:solid 1px; */
  width:90%;
}

h1{
  font-family: sans-serif;
  text-align: center;
}
/*
ul li{
  width: 100%;
} */

#crypto{
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  width: 100%;
}

#keys{
  grid-column: 1/2;
  grid-row: 1/4;
  overflow-wrap: break-word;
  /* width: 50%; */
}

#messages{
  grid-column: 2/3;
  grid-row: 2/3;
}

@media only screen and (max-width: 600px) {
  #crypto{
    display: grid;
    grid-gap: 10px;
  }

  #keys{
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #messages{
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
