html{
  background-color: #73d2de;
}

body{
  background-color: #eaf8fa;
  padding:10px;
  margin:10% auto;
  border:solid 1px;
  width:90%;
}

h1{
  font-family: sans-serif;
  text-align: center;
}

#crypto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#keys{
  grid-column: 1/2;
}

#messages{
  grid-column: 2/3;
}
