{% extends 'rsa.html' %}

{% block head %}
<title>TinyRSA</title>
{% endblock %}

{% block body %}
<!-- Guilhem Mizrahi 11/2019 -->
<h1>Encrypt and decrypt a message</h1>
<div id="crypto">
<div id="keys">
  <span><b>Keys</b><br>For this application, \(p\) and \(q\) are {{keys.get_bitlength()//2}} bits long for a {{keys.get_bitlength()}} bits long public key \(n\).</span>
  <ul>
    <li>\(p=\){{ keys.p }}</li>
    <li>\(q=\){{ keys.q }}</li>
    <li>\(n=p\times q=\){{ keys.n }}</li>
    <li>\(e=\){{ keys.e }}</li>
    <li>\(d=\){{ keys.d }}</li>
  </ul>
  <p>To encrypt, the algorithm goes as follow :</p>
  <ol>
    <li>Turn the text into numbers (for example using ASCII) and break the text into blocks. For this example, each letter contitues a block. For real applications, the length of the block is the length of the key (in bits).</li>
    <li>Encrypt each block by doing \(c\equiv m^e(mod\ n)\) where \(m\) is the message and \(c\) is the cipher text.</li>
  </ol>
  <p>To decrypt, the algorithm goes as follow :</p>
  <ol>
    <li>Decrypt each block by doing \(m\equiv c^d(mod\ n)\) where \(m\) is the message and \(c\) is the cipher text.</li>
    <li>Reassemble the blocks and turn the numbers into letters using the same scheme as in the encryption process (for example ASCII).</li>
  </ol>
</div>
<div id="messages">
<textarea name="plain" rows="8" cols="50" form="encrypt">{{plain}}</textarea>
  <form id="encrypt" action="/encrypt/{{ids}}" method="POST">
    <input type="submit" name="encrypt" value="Encrypt">
  </form>
  <p>Keep in mind that RSA encrypts numbers and outputs number that don't necessarily fall into the ASCII range so trying to print them doesn't necessarily make sense.</p>
<textarea name="cipher" rows="8" cols="50" form="decrypt">{{cipher}}</textarea>
  <form id="decrypt" action="/decrypt/{{ids}}" method="POST">
    <input type="submit" name="decrypt" value="Decrypt">
  </form>
</div>
</div>
{% endblock %}

{% block footer %}
<p>This encryption scheme is weak with small keys, do not use for real applications.<br>
Copyrights Guilhem Mizrahi 2019.</p><br>
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
{% endblock %}
