{% extends 'rsa.html' %}

{% block head %}
<title>TinyRSA</title>
{% endblock %}

{% block body %}
<h1>Encrypt and decrypt a message</h1>
  {% if keys|length == 1 %}
  <ul>
    <li>\(p=\) {{ keys[0].p }}</li>
    <li>\(q=\) {{ keys[0].q }}</li>
    <li>\(n=p\times q=\) {{ keys[0].n }}</li>
    <li>\(e=\) {{ keys[0].e }}</li>
    <li>\(d=\) {{ keys[0].d }}</li>
  </ul>
  {% else %}
  <p>Something went wrong please go back to the home page</p>
  {% endif %}
</div>
<div id="messages">
{% if keys|length == 1 %}
<textarea name="plain" rows="8" cols="50" form="encrypt">{{plain}}</textarea>
  <form id="encrypt" action="/encrypt/{{keys[0].id}}" method="POST">
    <input type="submit" name="encrypt" value="Encrypt">
  </form>
<textarea name="cipher" rows="8" cols="50" form="decrypt">{{cipher}}</textarea>
  <form id="decrypt" action="/decrypt/{{keys[0].id}}" method="POST">
    <input type="submit" name="decrypt" value="Decrypt">
  </form>
{% endif %}
</div>
</div>
{% endblock %}

{% block footer %}
<p>This encryption scheme is weak with small keys, do not use for real applications.<br>Copyrights Guilhem Mizrahi 2019.</p>
{% endblock %}
