{% extends 'rsa.html' %}

{% block head %}
<title>TinyRSA</title>
{% endblock %}

{% block body %}
<h1>tinyRSA, Keep It Simple</h1>

<p>
    TinyRSA is a simplified implementation of the RSA cryptosystem for learning purposes.<br>
    It implements a simplified version of RSA with small keys so that it is easier to demistify the encryption scheme.<br>
    <b>Click on the button below to generate keys and start encrypting !</b>
    <form action="/" method="POST">
        <input type="submit" name="generate" value="Generate Key !">
    </form>
</p>

{% endblock %}

{% block footer %}
<p>This encryption scheme is weak with small keys, do not use for real applications.<br>Copyrights Guilhem Mizrahi 2019.</p>
{% endblock %}
