{% extends 'rsa.html' %}

{% block head %}
<title>TinyRSA</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block body %}
<h1>tinyRSA, Keep It Simple</h1>

<p>TinyRSA is a simplified implementation of the RSA cryptosystem for learning purposes</p>

<p class="mermaid">
  sequenceDiagram
    participant Alice
    participant Bob
    loop Generate Keys
      Bob->>Bob: Public \((n,e)\) Private \((n, d)\)
    end
    Bob->>Alice: Public Key
    loop Encryption
      Alice->>Alice: \(c\equiv m^e(mod\ n)\)
    end
    Alice->>Bob: Cipher Text
    loop Decryption
      Bob->>Bob: \(c^d\equiv m (mod\ n)\)
    end
</p>

{% endblock %}
