<!DOCTYPE html>
<!-- Guilhem Mizrahi 11/2019 -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <footer>
    {% block footer %}{% endblock %}
    <a href="https://github.com/g-mizrahi/tinyRSA">Github Project</a>
  </footer>
</html>
